body {
    margin-top: 75px;
}

#bgShow {
    margin-top: 75px;
    position: relative;
    min-height: 530px;
    background: url(../img/bgShow.jpg);
}


.fontWeight {
    font-weight: 500;
}

.bgShow-main {
    padding-top: 16px;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(50 60 111/68%);
}

.navbar {
    opacity: 0.9;
    background: #fff;
}

.fontBoxIcon {
    font-size: 50px;
}

.pointer-cursor {
    cursor: pointer;
}

#comments img {
    margin-top: -55px;
}

.fontMediaBold {
    font-size: 25px;
    color: rgb(153, 59, 240);
}

.fontMediaBold:hover{
    color: rgb(122, 32, 190);
}

.bgPurple{
   background-color: rgb(153, 59, 240);
}

.text-purple{
   color: rgb(153, 59, 240);

}

.border-purple{
    border:2px solid rgb(205, 152, 255);
cursor: pointer;
}

.border-purple:hover{
    background-color: rgb(153, 59, 240);
    transition: 0.3s;
    border:2px solid rgb(153, 59, 240);
}

.poster-class{
    margin-top:2.4rem ;
    width: 280px;
    border: 6px solid rgb(237, 234, 234);
}